# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Streamlit
.streamlit/*
!.streamlit/
!**/.streamlit/config.toml
streamlit.log

# Rust
backend/target/

# Node / frontend
frontend/node_modules/
frontend/dist/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/


# assets
assets/reactflow.json
